html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  widows: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  text-transform: center;
}

button: {
    margin: 12
  }
